.site-header {
  background: rgba( 255, 0, 0, 0.15 );
  padding: 10px
}
.site-nav {
  background: rgba( 0, 255, 0, 0.15 );
}

.site-nav ul {
  display: flex;   
  padding: 1px;
}

.site-nav li {
  display: flex;
  flex-basis: 25%;
  border: 1px;
  margin: 0rem;
  padding: 1rem;
}

.site-main {
 background: #ffc;
 
}
.site-main section{
  display: flex; 
  flex-wrap: wrap;
  margin: 2rem;
}

.site-main section { 
align-self: flex-end  
}

.site-main section h2 {
  display: flex;
  flex-basis: 100%
}

footer {
 background: rgba( 0, 0, 255, 0.15 ); 
 padding: 10px
}


